auto-save-list
elpa
url
server
.DS_Store
.bookmarks.el
.mc-lists.el
cacert.pem
ac-comphist.dat
ido.last
tramp
eshell
.deft
recentf
org-clock-save.el
projectile-bookmarks.eld
projectile.cache
personal.el
*~
*#
.#*